@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@include "react-spring-bottom-sheet/dist/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

[data-rsbs-root] [aria-modal] {
  border-radius: 0 !important;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.16) !important;
}

[data-rsbs-footer] {
  padding: 0 !important;
}
