@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .base-button {
    @apply appearance-none box-border inline-flex items-center justify-center text-center;
    @apply px-6 py-0 font-semibold cursor-pointer focus:outline-none;
  }

  .base-radio {
    @apply appearance-none box-border inline-flex items-center relative px-6 py-0 pl-16 rounded-lg;
    @apply bg-input-nav-bg border-input-stroke border-4 text-font font-medium h-14 cursor-pointer;
  }

  .base-link {
    @apply appearance-none box-border inline-flex items-center justify-center text-center;
    @apply px-6 py-0 font-medium h-14 cursor-pointer;
    @apply focus:outline-none;
  }

  .base-input {
    @apply appearance-none box-border inline-block border-3 px-6 py-0 text-font rounded-10 font-medium h-14;
    @apply bg-input-nav-bg border-input-stroke focus:outline-none focus:border-primary hover:border-primary;
  }

  .base-input--with-error {
    @apply border-error;
  }

  .base-input--disabled {
    @apply bg-gray-100;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--input-nav-background-color) inset !important;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  right: 0px;
  position: absolute;
  background: none no-repeat;
  width: 100%;
  height: 100%;
}

:root {
  --primary-color: #71ca55;
  --primary-color--transparent: #71ca5500;
  --secondary-color: #16254c;
  --secondary-color--transparent: #16254c00;
  --highlight-color: #d1d5df;

  --primary-green-color: #237c36;
  --secondary-green-color: #c4efce;
  --dark-gray-color: #615d59;
  --universal-gray-200: #c4c4c4;
  --universal-gray-500: #9f9f9f;
  --universal-gray-800: #585757;
  --universal-black: #2f2f2f;
  --input-nav-background-color: #fff;
  --background-color: #e6e9ef;
  --input-stroke-color: #7e879d;
  --universal-red-800: #873c35;
  --universal-red-500: #d71920;
  --universal-red-300: #f23005;
  --font-color: #16254c;
  --error-color: #dc2626;
  --purple-color: #704b9d; /* TODO var */

  --category-red: #e46054;
  --category-red--transparent: #e4605400;
  --category-red--dark: #e46054;
  --category-red--light: #f8d7d4;
  --category-red--light--transparent: #f8d7d400;
  --category-blue: #0f6d95;
  --category-blue--transparent: #0f6d9500;
  --category-blue--dark: #0f6d95;
  --category-blue--light: #d0ecf8;
  --category-blue--light--transparent: #d0ecf800;
  --category-green: #237c36;
  --category-green--transparent: #237c3600;
  --category-green--dark: #237c36;
  --category-green--light: #c4efce;
  --category-green--light--transparent: #c4efce00;
  --category-yellow: #f1b830;
  --category-yellow--transparent: #f1b83000;
  --category-yellow--dark: #e3a612;
  --category-yellow--light: #ffe781;
  --category-yellow--light--transparent: #ffe78100;
  --category-purple: #5158d8;
  --category-purple--transparent: #5158d800;
  --category-purple--dark: #5158d8;
  --category-purple--light: #c7caff;
  --category-purple--light--transparent: #c7caff00;
  --category-brown: #e07d21;
  --category-brown--transparent: #e07d2100;
  --category-brown--dark: #e07d21;
  --category-brown--light: #ffcb9b;
  --category-brown--light--ransparent: #ffcb9b00;
}

body {
  -webkit-font-smoothing: antialiased;
}

.font-inter {
  font-family: "Inter", sans-serif;
}
